{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<section class="products_wrapper">
    {% for product in products %}
        <div class="product_card">
            <h2 class="product_name">{{ product.name }}</h2>
            <p class="product_desc">{{ product.description }}</p>
            <h3 class="product_price">{{ product.price }} €</h3>
            <a href="{{ path('app_product_details', { 'id': product.id }) }}">Voir le produit</a>
        </div>
    {% endfor %}
</section>

{% endblock %}
